Service References/CentumService/centumwebservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://centum.ca/webservices" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://centum.ca/webservices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://centum.ca/webservices">
      <s:element name="GetAgentDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="firmCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAgentDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAgentDetailsResult" type="tns:User" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="User">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="OfficeName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OfficeCity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OfficeProv" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NameFirst" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NameLast" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AgentEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AgentLanguage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FirmCodeSubmit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExpertIdSubmit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DisclosureUrl" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="User" nillable="true" type="tns:User" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAgentDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAgentDetails" />
  </wsdl:message>
  <wsdl:message name="GetAgentDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAgentDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAgentDetailsHttpGetIn">
    <wsdl:part name="firmCode" type="s:string" />
    <wsdl:part name="userId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAgentDetailsHttpGetOut">
    <wsdl:part name="Body" element="tns:User" />
  </wsdl:message>
  <wsdl:message name="GetAgentDetailsHttpPostIn">
    <wsdl:part name="firmCode" type="s:string" />
    <wsdl:part name="userId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAgentDetailsHttpPostOut">
    <wsdl:part name="Body" element="tns:User" />
  </wsdl:message>
  <wsdl:portType name="CentumWebServiceSoap">
    <wsdl:operation name="GetAgentDetails">
      <wsdl:input message="tns:GetAgentDetailsSoapIn" />
      <wsdl:output message="tns:GetAgentDetailsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CentumWebServiceHttpGet">
    <wsdl:operation name="GetAgentDetails">
      <wsdl:input message="tns:GetAgentDetailsHttpGetIn" />
      <wsdl:output message="tns:GetAgentDetailsHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CentumWebServiceHttpPost">
    <wsdl:operation name="GetAgentDetails">
      <wsdl:input message="tns:GetAgentDetailsHttpPostIn" />
      <wsdl:output message="tns:GetAgentDetailsHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CentumWebServiceSoap" type="tns:CentumWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAgentDetails">
      <soap:operation soapAction="http://centum.ca/webservices/GetAgentDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CentumWebServiceSoap12" type="tns:CentumWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAgentDetails">
      <soap12:operation soapAction="http://centum.ca/webservices/GetAgentDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CentumWebServiceHttpGet" type="tns:CentumWebServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetAgentDetails">
      <http:operation location="/GetAgentDetails" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CentumWebServiceHttpPost" type="tns:CentumWebServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetAgentDetails">
      <http:operation location="/GetAgentDetails" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CentumWebService">
    <wsdl:port name="CentumWebServiceSoap" binding="tns:CentumWebServiceSoap">
      <soap:address location="http://198.71.58.169/centumdata/centumwebservice.asmx" />
    </wsdl:port>
    <wsdl:port name="CentumWebServiceSoap12" binding="tns:CentumWebServiceSoap12">
      <soap12:address location="http://198.71.58.169/centumdata/centumwebservice.asmx" />
    </wsdl:port>
    <wsdl:port name="CentumWebServiceHttpGet" binding="tns:CentumWebServiceHttpGet">
      <http:address location="http://198.71.58.169/centumdata/centumwebservice.asmx" />
    </wsdl:port>
    <wsdl:port name="CentumWebServiceHttpPost" binding="tns:CentumWebServiceHttpPost">
      <http:address location="http://198.71.58.169/centumdata/centumwebservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>